.searchButtonsDiv {
  border-bottom: 2px solid black;
}

.listItemContainer {
  border-bottom: 2px solid #d0d0d0;
  padding: .3rem;
  align-items: center;
  justify-items: center;
}

.listItemContainer:hover {
  background:#F33209 ;
  color:#fff;
  border: 2px 80% #F33209 ;
}

.truthyButton {
  background:#F33209 ;
  color:#fff;
  border: 2px solid #F33209;
}

.tagsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 20rem;
}

.labelContainer {
  font-size: 1.2rem;
}

#mainGridContainer {
  display: grid;
  width: 100%vh;
  grid-template-rows: 12% 90%;
  grid-template-columns: 30% 70%;
  height: 65rem;
}

#mainImage {
  max-width: 40rem;
  max-height: 45rem;
  object-fit: cover;
}

#uploadImageButton {
  margin-top: .1rem;
}

#selectedImageContainer {
  width: 40rem;
  height: auto;
  max-height: 45rem;
}
#uploadFileContainer {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}
#filterByTagContainer {
  grid-row: 2 / 2;
  grid-column: 1 / 1;
}

#listContainer {
  overflow-y: scroll;
}

#mainImageHeaderContainer{
  display: flex;
  flex-direction: row;
}

#mainImageViewContainer {
  grid-row: 1/ span 2;
  grid-column: 2/2;
  display: flex;
  flex-direction: column;
}

select {
  padding:1px 2px;
  border:2px solid #78788c;
  background:0;color:#5a5a6e;
  cursor:pointer;
  transition:all .3s;
  transition:all .3s;
  border-radius: 1rem 1rem 1rem 1rem;
  margin-left: .8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

button {
  padding:1px 2px;
  margin:20px 0px 20px 0px;
  border:2px solid black;
  color:black;
  cursor:pointer;
  transition:all .3s;
  border-radius: 1rem 1rem 1rem 1rem;
  margin-left: .8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

button:hover {
  background:#F33209 ;
  color:#fff;
  border: 2px solid #F33209 ;
}

input {
  width:100%;
  padding:10px;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  font-family:'Montserrat',sans-serif;
  transition:all .3s;
}

input:focus {
  border-bottom:2px solid #00a07b;
}